/*------------------------------------*\
    Body
\*------------------------------------*/

::selection {
  background-color: var(--selection-color);
}

body {
  background-color: var(--body-color);
  padding-bottom: 3rem;
}
