/*------------------------------------*\
    Footer
\*------------------------------------*/

footer.footer {
  width: 100%;
  margin-top: 4rem;
  border-top: 1px solid var(--cello-200-color);
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__item {
  flex-basis: 50%;
  margin-bottom: 1rem;

  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .footer__item {
    flex: 0 0 auto;
    margin: 0;
  }

  .footer__item:not(:last-child) {
    padding-right: 4rem;
  }

  .footer__item:last-child {
    margin-left: auto;
  }
}
