---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | Stefan Vermaas" description="Page not found">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</Layout>
