/*------------------------------------*\
    Header
\*------------------------------------*/

header[role="banner"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 3.125rem;
}

@media (min-width: 768px) {
  header[role="banner"] {
    padding-top: 3.125rem;
  }
}

header[role="banner"] a {
  text-decoration: none;
}

/* Profile picture */
header[role="banner"] > a img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

/* Navigation */
header[role="banner"] > nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

header[role="banner"] > nav ul li a {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-bottom: 2px dotted var(--heather-100-color);
}

header[role="banner"] > nav ul li a:hover {
  border-bottom-style: solid;
}

header[role="banner"] > nav ul li a svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}
