/*------------------------------------*\
    Variables
\*------------------------------------*/

:root {
  --cello-300-color: hsl(216, 24%, 20%);
  --cello-200-color: hsl(219, 21%, 30%);
  --cello-100-color: hsl(219, 13%, 52%);

  --heather-300-color: hsl(220, 14%, 66%);
  --heather-200-color: hsl(220, 14%, 75%);
  --heather-100-color: hsl(219, 20%, 86%);

  --porcelain-300-color: hsl(210, 42%, 95%);
  --porcelain-200-color: hsl(210, 25%, 98%);
  --porcelain-100-color: hsl(0, 0%, 100%);

  --mango-100-color: hsl(36, 100%, 92%);
  --mango-200-color: hsl(36, 100%, 75%);
  --mango-300-color: hsl(36, 100%, 39%);

  --body-color: var(--porcelain-100-color);
  --text-color: var(--cello-300-color);
  --text-offset-color: var(--heather-100-color);
  --selection-color: var(--mango-100-color);

  /* Brand colors */
  --known-decimal-color: hsl(48, 100%, 48%);
  --ruby-on-rails-color: hsl(360, 100%, 41%);
  --nedap-color: hsl(16, 100%, 61%);
  --airbnb-color: hsl(349, 100%, 61%);
  --revue-color: hsl(19, 81%, 49%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--cello-300-color);
    --text-color: var(--porcelain-100-color);
    --text-offset-color: var(--porcelain-300-color);
    --selection-color: var(--mango-200-color);

    /* Brand colors */
    --known-decimal-color: hsl(49, 98%, 51%);
  }
}
