<header class="site-header">
  <a href="/" title="Go to homepage" rel="home" aria-label="Go to homepage">
    <img
      src="/images/profile-picture.png"
      srcset="/images/profile-picture.png 1x, /images/profile-picture@2x.png 2x"
      alt="A black and white picture of Stefan Vermaas"
    />
    <span>Stefan Vermaas</span>
  </a>
</header>
