/*------------------------------------*\
    Site Header
\*------------------------------------*/

header.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  header.site-header { padding-top: 3rem; }
}

header.site-header > a {
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;

  text-decoration: none;
}

header.site-header > a:focus {
  border: 1px dotted var(--green-color);
}

header.site-header > a > img {
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
  margin-right: 0.75rem;
}

header.site-header > a > span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--cello-200-color);
}
