---
layout: site
---

<section class="introduction">
  <h1>
    Hi, I'm Stefan. A Ruby Engineer from the Netherlands, and am located in Europe&#42;
  </h1>

  <p>
    I currently work for <a href="https://www.knowndecimal.com" target="_blank">Known Decimal</a>.
    I've been working on the web professionally for over 9 years, and love building products in
    <a href="https://www.ruby-lang.org" target="_blank">Ruby</a> and <a href="https://www.rubyonrails.org" target="_blank">Rails</a>.

    Previously, I worked for <a href="https://www.nedap.com" target="_blank">Nedap</a>
    and <a href="https://www.airbnb.com" target="_blank">Airbnb</a>.
  </p>

  <p class="introduction__explainer">
    &#42; Currently, we're on the move in Europe and are now living in Denmark 🇩🇰
  </p>
</section>
