---
layout: site
---

<section class="introduction">
  <h1>
    Hi, I'm Stefan.
  </h1>

  <p>
    I'm the founder of <a href="https://www.codeture.nl" target="_blank">Codeture</a>,
    and am based out of Europe. I love building sustainable software with <a href="https://www.ruby-lang.org" target="_blank">Ruby</a>
    and <a href="https://www.rubyonrails.org" target="_blank">Rails</a>, and have been building
    on the web for over 10 years.
  </p>

  <p>
    Previously, I worked for <a href="https://www.knowndecimal.com" target="_blank">Known Decimal</a>,
    <a href="https://www.nedap.com" target="_blank">Nedap</a>, and <a href="https://www.airbnb.com" target="_blank">Airbnb</a>.
  </p>
</section>

<% if collections.posts.resources.any? %>
  <h2>Writing</h2>

  <ol class="articles">
    <% collections.posts.resources.each do |post| %>
      <li>
        <time datetime="<%= post.date.to_date %>"><%= post.date.strftime('%e %b, %Y') %></time>
        <a href="<%= post.relative_url %>"><%= post.data.title %></a>
      </li>
    <% end %>
  </ol>
<% end %>
