<footer class="footer" role="contentinfo">
  <div class="container footer__inner">
    <p class="footer__item">
      <strong>&copy; 2012-<%= DateTime.now.year %></strong>
      <br />
      <%= link_to "Stefan Vermaas", "https://www.stefanvermaas.com", rel: "me" %>
    </p>

    <div class="footer__item">
      <div id="wcb" class="carbonbadge wcb-d"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </div>
  </div>
</footer>
