<header role="banner">
  <a href="/" title="Go to homepage" rel="home" aria-label="Go to homepage">
    <img
      src="/images/profile-picture.png"
      srcset="/images/profile-picture.png 1x, /images/profile-picture@2x.png 2x"
      alt="A black and white picture of Stefan Vermaas"
    />
  </a>

  <nav role="navigation" tabindex="-1">
    <ul>
      <li>
        <a href="/" title="">
          Home
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/stefanvermaas" title="See my Twitter profile" target="_blank">
          Twitter
          <%= svg "images/icons/external-link.svg" %>
        </a>
      </li>
      <li>
        <a href="https://www.github.com/stefanvermaas" title="See my Github profile" target="_blank">
          Github
          <%= svg "images/icons/external-link.svg" %>
        </a>
      </li>
    </ul>
  </nav>
</header>
