<div class="hero">
  <h1>Hi, I'm Stefan — A Ruby engineer based in Kralendijk, Bonaire.</h1>
  <ol class="hero__socials">
    <li>
      <%= link_to 'Github', 'https://www.github.com/stefanvermaas', target: '_blank' %>
    </li>
    <li>
      <%= link_to 'Twitter', 'https://www.twitter.com/stefanvermaas', target: '_blank' %>
    </li>
    <li>
      <a href="https://www.knowndecimal.com/" target="_blank">
        Work <span>(by day)</span>
      </a>
    </li>
    <li>
      <a href="https://www.mellowhq.nl/" target="_blank">
        Work <span>(by night)</span>
      </a>
    </li>
  </ol>
</div>
