/*------------------------------------*\
    Hero
\*------------------------------------*/

.hero {
  padding-top: 2rem;
}

.hero h1 {
  font-size: clamp(1rem, 2.75rem, 4.5vw);
  line-height: 1.25;
}

ol.hero__socials {
  display: block;
  list-style: none;
  padding: 0;
  margin: 1.25rem 0 0 0;
}

ol.hero__socials li {
  position: relative;
  display: inline-block;
}

ol.hero__socials li:not(:last-child) {
  margin-right: 1rem;
}

ol.hero__socials li a {
  position: relative;
  padding: 0.5rem .25rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--cello-100-color);
  text-decoration: none;
}

ol.hero__socials li a:hover {
  color: var(--cello-300-color);
}

ol.hero__socials li:first-child a {
  margin-left: -.25rem;
}

ol.hero__socials li a,
ol.hero__socials li a::after {
  transition: color .3s cubic-bezier(.86, 0, .07, 1),
              transform .3s cubic-bezier(.86, 0, .07, 1);
}

ol.hero__socials li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -.5rem;
  transform-origin: 0 50%;
  transform: scaleX(0);
}

ol.hero__socials li a:hover::after {
  transform: scaleX(1);
}

ol.hero__socials li a[href="https://www.github.com/stefanvermaas"]::after {
  background-color: #4078c0;
}

ol.hero__socials li a[href="https://www.twitter.com/stefanvermaas"]::after {
  background-color: #1d9bf0;
}

ol.hero__socials li a[href="https://www.knowndecimal.com/"]::after {
  background-color: #fcce08;
}

ol.hero__socials li a[href="https://www.mellowhq.nl/"]::after {
  background-color: #EF4444;
}

ol.hero__socials li a span {
  font-size: .75rem;
}
